<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Naive Bayes</a>
    </div>

     <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="<%= is_active?('/') %>"><%= link_to "Home", '/' %></li>
        <li class="<%= is_active?('/people') %>"><%= link_to "Database Listings", '/people' %></li>
        <li class="<%= is_active?('/classifier/index') %>"><%= link_to "Classifier", '/classifier/index' %></li>
  </div>
</nav>
